/.metadata/
projet_events/.settings
projet_events/.classpath
projet_events/.checkstyle
projet_events/doc
interface_projet_events/.settings
interface_projet_events/.classpath
interface_projet_events/.project
interface_projet_events/.project
projet_events/Test.dat
projet_events/Test.txt
